<div class="form_li">
  <p>{{'模板驱动型表单'}}</p>
  <div>
    <form class="form-horizontal" #userForm="ngForm" (ngSubmit)="loginForm(userForm)" novalidate *ngIf="active">

      <div class="form-group">
        <button class="btn btn-default pull-right" (click)="create()">新建</button>
        <button class="btn btn-default pull-right" (click)="reset(userForm)">重置</button>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="name" [(ngModel)]="user.name" #name="ngModel" required
                 minlength="5">
          <span class="label label-primary" *ngIf="name.pristine">未修改</span>
          <span class="label label-warning" *ngIf="name.dirty">已修改</span>
          <span class="label-label-success" *ngIf="name.valid">有效的</span>
          <div class="alert alert-danger" [hidden]="name.valid || name.pristine">
            <p *ngIf="name.errors?.minlength">最小长度为5</p>
            <p *ngIf="name.errors?.required">必填</p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2">phone:</label>
        <div class="col-sm-10">
          <input type="text" name="mobile" #mobile="ngModel" [(ngModel)]="user.mobile" class="form-control" required
                 minlength="11" maxlength="11" validateMobile="">
          <span class="label label-primary" *ngIf="mobile.pristine">未修改</span>
          <span class="label label-warning" *ngIf="mobile.dirty">已修改</span>
          <span class="label label-success" *ngIf="mobile.valid">有效值</span>
          <div [hidden]="mobile.pristine || mobile.valid" class="alert alert-danger">
            <p *ngIf="mobile.errors?.minlength">最小长度为11</p>
            <p *ngIf="mobile.errors?.required">必选项</p>
            <p *ngIf="mobile.errors?.validateMobile">格式不对</p>
          </div>
        </div>
      </div>
      <input type="checkbox" [(ngModel)]="ischeck" name="oo" (change)="check()"/>
      {{ischeck}}
      <fieldset ngModelGroup="address">
        <div class="form-group">
          <label class="col-sm-2 control-label">城市:</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="city" [(ngModel)]="user.address.city" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">街道:</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="street" [(ngModel)]="user.address.street" required>
          </div>
        </div>
      </fieldset>

      <div class="row">
        <button type="submit" class="btn btn-default col-sm-2">保存</button>
        <div class="col-sm-10">
          <p class="error-msg">{{errorMsg}}</p>
          <p class="error-msg">{{nameErrorMsg}}</p>
        </div>
      </div>

      <div class="form-group">
        <p>{{user | json}}</p>
      </div>
    </form>
  </div>
</div>

