<p>
  reactform works!
</p>

<section>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <label for="username">username</label>
      <input type="text" [formControl]="username" name="username" id="username"/>
      <div [hidden]="username.valid || username.untouched">
        <div>the followimg problems have been found width the username</div>
        <div [hidden]="!username.hasError('required')">必须填写用户名</div>
        <div [hidden]="!username.hasError('minLength')"> minlength<5 </div>
      </div>
    </div>

    <div>
      <label for="password">password</label>
      <input type="password" [formControl]="password" name="password" />
      <div [hidden]="password.valid || password.untouched">
        <div [hidden]="!password.hasError('required')">必须填写密码</div>
      </div>
    </div>

    <button type="submit" [disabled]="!loginForm.valid">提交</button>
  </form>
</section>
